{% extends "base_start_user.html" %}
{% load staticfiles %}

{% block data %}
<div class="context">
	<h1>Search teams by name:</h1>
    <br>
    <div class="context_data">
        <form action="{% url 'search_teams_in_cat' requested_category.id requested_subcategory.id %}", method="POST">
        {% csrf_token %}
        {{ search_teams_form }}
        <input type="submit" value="Submit">
        </form>
        <br>
        <ul>
        {% for result in pages %}
            <l1 class="result_url">
                <a href="{{ result.get_absolute_url }}">
                    <img src="/static/images/{{ result.image }}" height="80" width="80">  {{ result.name }}  |  {{ result.category }}  |  Founded: {{ result.date_founded|date:"d.m.Y." }}  |  Recruiting: {{ result.recruiting }}
                </a>
            </l1>
        {% endfor %}
        </ul>
        <br>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if pages.has_previous %}
                <a href="?page={{ pages.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="current">
                Page {{ pages.number }} of {{ pages.paginator.num_pages }}.
            </span>
            {% if pages.has_next %}
                <a href="?page={{ pages.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock data %}