{% extends "base_start_team.html" %}
{% load staticfiles %}

{% block data %}
<div class="context">
	<h1>User search:</h1>
    <br>
    <div class="context_data">
    	<form action="{% url 'team_invitation' requested_team.id %}", method="POST">
    	{% csrf_token %}
    	{{ user_search_form }}
    	<input type="submit" value="Submit">
    	</form>
        <br>
        <ul>
        {% for result in pages %}
            <l1 class="result_url">
                <a href="{{ result.userprofile.get_absolute_url }}">
                    <img src="/static/images/{{ result.userprofile.image }}" height="80" width="80">   {{ result.first_name|title }} {{ result.last_name|title }}
                </a>  |  {% if result not in invitation_requested %}<a href="{% url 'team_invitation_creation' requested_team.id result.id %}">Invite to team</a>{% endif %}
            </l1>
        {% endfor %}
        </ul>
        <br>
        <div class="pagination">
            <span class="step-links">
                {% if pages.has_previous %}
                    <a href="?page={{ pages.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="current">
                    Page {{ pages.number }} of {{ pages.paginator.num_pages }}.
                </span>
                {% if pages.has_next %}
                    <a href="?page={{ pages.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock data %}