{% extends "base_start_user.html" %}
{% load staticfiles %}

{% block data %}
<div class="context">
    <h1>My friends:</h1>
    <div class="context_data">
        {% if user_id == logged_in_user.id|slugify %}
        <br>
        <a href="{% url 'search_users' %}" class="search"><p>Search for people</p></a>
        <br>
        {% endif %}
        <ul>
        {% for result in pages %}
            <l1 class="result_url">
                {% if user_id == logged_in_user.id|slugify %}
                    {% if result.friend != request.user %}
                    <a class='result_data' href="{{ result.friend.userprofile.get_absolute_url }}">
                    {% endif %}
                    {% if result.friend == request.user %}
                    <a class='result_data'href="{{ result.user.userprofile.get_absolute_url }}">
                    {% endif %}
                        <div>
                            {% if result.friend != request.user %}
                            <img src="/static/images/{{ result.friend.userprofile.image }}" height="80" width="80">
                            {% endif %}
                            {% if result.friend == request.user %}
                            <img src="/static/images/{{ result.user.userprofile.image }}" height="80" width="80">
                            {% endif %}
                        </div>
                        <div>
                            {% if result.friend != request.user %}
                            <p>  {{ result.friend.first_name|title }} {{ result.friend.last_name|title }}</p>
                            {% endif %}
                            {% if result.friend == request.user %}
                            <p>  {{ result.user.first_name|title }} {{ result.user.last_name|title }}</p>
                            {% endif %}
                        </div>
                    </a>
                {% endif %}
                {% if user_id != logged_in_user.id|slugify %}
                    <a class='result_data' href="{{ result.friend.userprofile.get_absolute_url }}">
                        <div>
                            <img src="/static/images/{{ result.friend.userprofile.image }}" height="80" width="80">
                        </div>
                        <div>
                            <p>  {{ result.friend.first_name|title }} {{ result.friend.last_name|title }}</p>
                        </div>
                    </a>
                {% endif %}
                {% if user_id == logged_in_user.id|slugify %}
                    <div>
                        {% if result.friend != request.user %}
                        <a href="{% url 'message_compose' result.friend.id %}"><img src="{%static 'images/default_images/msg.png' %}" height="20" width="20"></a>
                        {% endif %}
                        {% if result.friend == request.user %}
                        <a href="{% url 'message_compose' result.user.id %}"><img src="{%static 'images/default_images/msg.png' %}" height="20" width="20"></a>
                        {% endif %}
                    </div>
                    <div><a href="{% url 'unfriend' result.id %}"><img src="{%static 'images/default_images/x.png' %}" height="20" width="20"></a></div>
                {% endif %}
            </l1>
            {% empty %}
            </ul>
            <p>You have no friends!</p>
        {% endfor %}
        </ul>
        <br>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if pages.has_previous %}
                <a href="?page={{ pages.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="current">
                Page {{ pages.number }} of {{ pages.paginator.num_pages }}.
            </span>
            {% if pages.has_next %}
                <a href="?page={{ pages.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
    <br>
</div>
{% endblock data %}