{% extends "base_start_user.html" %}
{% load staticfiles %}

{% block data %}
<div class="context">
	<h1>Friendship requests:</h1>
    <br>
    <div class="context_data">
        <ul>
        {% for result in pages %}
            <l1 class="result_url">
                <a class='result_data' href="{{ result.friend.userprofile.get_absolute_url }}">
                    <div>
                         <img src="/static/images/{{ result.friend.userprofile.image }}" height="80" width="80">
                    </div>
                    <div>
                        <p>  {{ result.friend.first_name|title }} {{ result.friend.last_name|title }}</p>
                    </div>
                </a>
                <a class='decline' href="{% url 'friendship_processing' request_id=result.id accepted='0' %}">Decline</a>
                <a class='accept' href="{% url 'friendship_processing' request_id=result.id accepted='1' %}">Accept</a>
            </l1>
        {% endfor %}
        </ul>
        <br>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if pages.has_previous %}
                <a href="?page={{ pages.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="current">
                Page {{ pages.number }} of {{ pages.paginator.num_pages }}.
            </span>
            {% if pages.has_next %}
                <a href="?page={{ pages.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
    <br>
</div>
{% endblock data %}